<% provide(:title, "Home") %>
<section class="home">
  <div class="row p-1 justify-content-center text-center">
    <div class="col-sm-8 border border-info rounded about">
      <h2 class="m-3">Events.io</h2>
      <p>Events.io is inspired by <a href="https://www.eventbrite.com/">Eventbrite.</a> Users can sign up, create events and attend events created by other users.</p>
      <p>This site is built with Ruby on Rails, Bootstrap, and FontAwesome.</p>
      <p>If you want to get in touch with the creator please follow one of the links in the footer.</p>
      <p>Created by</p>
      <p>Michael Palhidai</p>
    </div>
  </div>
</section>
