<% provide(:title, "Log in") %>

<div class="row justify-content-center list">
  <div class="col-sm-4 py-5 about">
    <h2>Log in</h2>
    <%= form_for(:input, url: login_path) do |f| %>

      <div class="field">
        <%= f.label :name %>
        <br/>
        <%= f.text_field :name, class: 'form-control' %>
        <br/>
      </div>

      <!-- <div class="field">
        <%#= f.label :password %>
        <br/>
        <%#= f.password_field :password, class: 'form-control' %>
        <br/>
      </div> -->

      <div class="actions">
        <%= f.submit "Log in", class: "form-control btn btn-success" %>
      </div>

    <% end %>
  </div>
</div>
