<% provide(:title, "Future Events") %>
<div class="row justify-content-center text-center">
	<div class="col-sm-6">
		<div class="btn-group btn-group-justified">
			<%= link_to "Future Events", events_path(:future => true), class: "btn btn-info btn-sm" %>
			<%= link_to "Past Events", events_path(:past => true), class: "btn btn-info btn-sm" %>
			<%= link_to "My Events", user_events_path(:creator => current_user), class: "btn btn-info btn-sm" %>
		</div>
	</div>
</div>

<div class="row justify-content-center">
	<div class="col-sm-8">
    <%= render 'events/event' %>
	</div>
</div>
