<footer>
  <div class="row justify-content-between w-100 bg-dark text-white">
    <div class="col-sm-4">
      <p class="p-3 m-0">Created by Michael Palhidai</p>
    </div>
    <div class="col-sm-6 text-right">
      <%= link_to '<i class="fa fa-2x fa-github-square pr-3 mt-2"></i>'.html_safe, "https://github.com/MPalhidai", target: :_blank %>
      <%= link_to '<i class="fa fa-2x fa-facebook-square pr-3 mt-2"></i>'.html_safe, "https://facebook.com/Michael.Palhidai", target: :_blank %>
    </div>
  </div>
</footer>
